<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/xj.css" >
</head>
<body>
<header>
    <h1>西安电子科技大学 学籍管理系统</h1>
</header>
<article>
    <div class="select">
        <label >学院：
            <select id='collage' name='collage'>
                <option>通信工程学院</option>
                <option>电子工程学院</option>
                <option>计算机学院</option>
                <option>机电工程学院</option>
                <option>物理与光电工程学院</option>
                <option>数学与统计学院</option>
                <option>软件学院</option>
                <option>人文学院</option>
                <option>外国语学院</option>
            </select></label>

        <label class=class> 班级：
            <select id='class' name='class'>
            </select>
        </label>
        <label class='id'>学号:
            <input id='id' type="text" name="id"></label></inpuut>
        </label>
        <input id='submit' type="submit" value="点击查询" />
    </div>
    <div class='content'>
    </div>
</article>
<script type="text/javascript" src="javascripts/xj.js"></script>
</body>
</html>